
<div class="container mt-4">
  <table class="table table-sm table-striped" *ngIf="(data.length > 0)">
    <p>Tabla</p>
      <thead>
        <tr>
    
          <th>{{headers[0]}}</th>
          <th>{{headers[1]}}</th>
          <th>{{headers[2]}}</th>
          <th>{{headers[5]}}</th>
          <th>{{headers[7]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data | slice:0:10">
            <td>{{ row.country }}</td>
            <td>{{ row.continent }}</td>
            <td>{{ row.population }}</td>
            <td>{{ row.totalDeaths }}</td>
            <td>{{ row.totalRecovered }}</td>
            
        </tr>
      </tbody>
      
    </table>

  
  </div>

