<div class="upload-file bg-light">
    <app-upload-file (newItemEvent)="getData($event)"></app-upload-file>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md">
            <div class="plots-container">
                <div class="row">
                    <div class="col-md-6 y=3">
                        <app-plot-table [data]="currentData"></app-plot-table>
                    </div>
                    <div class="col-md-6 y-3">
                        <app-plot-geograph [dataBars2]="currentData"></app-plot-geograph>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <app-plot-columns [dataSector]="currentData"></app-plot-columns>
                    </div>
                    <div class="col-md-6">
                        <app-plot-circular [dataCircular]="currentData"></app-plot-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
