
.plots-container .row {
    margin-bottom: 1.5rem;
}

.plots-container .col-md-6 {
    margin-bottom: 1.5rem;
}


@media screen and (max-width: 992px) {
    .plots-container .col-md-6 {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .plots-container .col-md-6 {
        width: 100%;
        height: 100%;
        margin-bottom: 1.5rem; 
    }
}
